body {
  font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}

/* Header */
.header {
  display: flex;
  background: #2A8062;
  width: 100%;
  padding: 15px 30px;
  box-sizing: border-box;
}

.header .header-title {
  color: #A1FFDE;
  font-size: 1.7rem;
  text-decoration: none;
}
/* --------------------------- */

/* Contents */
.search-box {
  height: 1.7rem;
  width: 100%;
  padding: 2px 16px;
  margin-left: 20px;
  border: solid 1px;
  border-color: #a9a9a9;
  border-radius: 8.5rem;
  box-shadow: none;
  font-size: 100%;
}

.search-box:hover {
  box-shadow: 1px 1px 2px gray;
}

.search-box:focus {
  box-shadow: 1px 1px 2px gray;
}
/* --------------------------- */


/* Wrapper */
.wrapper {
  width: 100%;
  margin: 200px auto;
  text-align: center;
}
/* --------------------------- */

.footer {
  height: 60px;
  background-color: #ddd;
}

.is-pc {
  display: inline;
}

@media screen and (min-width: 769px) {
  .header {
    padding: 15px 30px;
  }

  .header .header-title {
    font-size: 1.7rem;
  }

  .search-box {
    width: 500px;
  }
}

.is-pc {
  display: none;
}
